h2,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
}
.app {
  max-width: 500px;
  min-height: 600px;
  margin: 0 auto;
  background-color: white;
  border: 1px solid #bacdd8;
  padding: 5px;
  border-radius: 12px;
}
.header {
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: -20px;
}
.header h2 {
  font-family: "Poppins", sans-serif;
}
.inputbox {
  display: flex;
  flex-direction: column;
}
.inputbox input {
  height: 50px;
  border-radius: 10px;
  background-color: #f8f7f7;
  border: 1px solid #e6dfdf;
}
input::-webkit-input-placeholder {
  font-size: 22px;
  text-align: right;
  margin: 3px;
  color: #000;
  font-weight: 700;
}
.keytags {
  margin-left: 360px;
  text-align: center;
  font-family: "Nunito", sans-serif;
}
.keytags span {
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #9b9b9b;
  font-size: 1rem;
}
.pricebtns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.btns {
  display: flex;
  flex-direction: row;
}
.btns .price {
  background-color: #f3eded;
  padding: 10px 20px 10px 20px;
  margin: 5px;
  border-radius: 7px;
  font-family: "Poppins", sans-serif;
  color: #000;
  font-weight: 700;
}
.tag {
  margin: 5px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #9b9b9b;
  font-size: 0.9rem;
}
.timeframeBtns {
  text-align: center;
}
.btnbtn {
  background-color: #f3eded;
  padding: 10px 20px 10px 20px;
  margin: 5px;
  border-radius: 50px;
  border: none;
  width: 90px;
  height: 40px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #9b9b9b;
  font-size: 0.8rem;
}

.active {
  background-color: rgb(252, 207, 125);
  padding: 10px 20px 10px 20px;
  margin: 5px;
  border-radius: 50px;
  border: none;
  width: 90px;
  height: 40px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}
.apisection .head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.roi {
  margin: 10px;
  margin-left: 330px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 0.9rem;
  color: #9b9b9b;
}

.tags {
  margin: 10px;
  margin-left: 270px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 0.9rem;
  color: #9b9b9b;
}

.details h5 {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.details .headdetail {
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.details li {
  margin: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
  color: #9b9b9b;
}
